project:
  type: website
  output-dir: docs

website:
  title: "Philip T. Patton"
  page-navigation: true

  navbar:
    left:
      - href: index.qmd
        text: Home
      - href: cv.qmd
        text: CV
      - href: notebooks.qmd
        text: Code
      - href: defense.qmd
        text: Defense

    right:
      - text: "{{< fa brands github>}}"
        href: https://github.com/philpatton
      - text: "{{< fa brands google-scholar>}}"
        href: https://scholar.google.com/citations?user=4TUtf04AAAAJ&hl=en&oi=ao
      - text: "{{< fa brands bluesky>}}"
        href: https://bsky.app/profile/ptpatton.bsky.social

  sidebar:
    - title: "Code"
      style: "docked"
      # background: light
      contents:
        - notebooks.qmd
        - section: "PyMC"
          contents:
            - href: pymc-occupancy.qmd
              text: Occupancy
            - href: pymc-closed-cmr.qmd
              text: Closed capture-recapture
            - href: pymc-distance.qmd
              text: Distance sampling
            - href: pymc-scr.qmd
              text: Spatial capture-recapture
            - href: pymc-msom.qmd
              text: Community occupancy
            - href: pymc-cjs.qmd
              text: Cormack-Jolly-Seber
            - href: pymc-jssa.qmd
              text: Jolly-Seber
            # - href: comparison.qmd
            #   text: Model comparison
        - section: "NumPyro"
          contents:
            - href: numpyro-intro.qmd
              text: Introduction
            - href: numpyro-occ.qmd
              text: Dynamic occupancy
            - href: numpyro-js.qmd
              text: Jolly-Seber
            - href: numpyro-cjs.qmd
              text: Cormack-Jolly-Seber
            - href: numpyro-scr-temp.ipynb
              text: Open SCR
format:
  html:
    theme: yeti
    css: styles.css
    toc: true
